*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #17C3B2;
}
h1{
    color: aquamarine;
    background-color: #715AFF;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.75;
    cursor: pointer;
    background-color: black;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50% ;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 2rem;
}
#your-score , #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 3rem;
}
#msg{    
    display: inline;
    color: blue;
    background-color: bisque;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50px;
}
